* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
header::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  top: 0;
}
header {
  z-index: -2;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("dark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header nav {
  width: 100%;
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  margin-right: 2em;
}

header nav ul li a {
  color: white;
  padding: 0.7em 1em;
}
.sigh {
  background-color: rgb(255, 255, 255);
  border-radius: 17px;
  color: turquoise !important;
}
.logo h3 {
  margin-left: 2em;
  font-weight: bold;
  color: white;
  font-size: 27px;
}
.mainbody-text {
  position: relative;
  height: 87%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodytext {
  width: 60%;
  text-align: center;
}
.bodytext h1 {
  font-size: 50px;
  font-weight: bolder;
  color: white;
}
.bodytext h5 {
  color: turquoise;
}
.btns {
  position: absolute;
  top: -50%;
  left: 0;
  
}
.btns ul {
  display: flex;
  background-color: white;
  border-radius: 17px 17px 0 0;
  padding: 1.7em;
  background-color: white;
}
.clr {
  background-color: turquoise;
}
.btns ul li {
  padding: 1em 2em;
  border-radius: 10px;
}
.sel-btn {
  background-color: white;
  width: 90%;
  padding: 1em;
  margin: 0 auto;
  border-radius: 0 10px 10px 10px;
  position: absolute;
  z-index: 1000;
  top: -3%;
}
.fligh-btn {
  display: flex;
  justify-content: space-between;
}
.enc {
  display: flex;
  align-items: center;
}
.enc2 {
  margin-right: 10px;
  padding: 2em;
}
.enc2 h5 {
  color: rgb(8, 187, 169);
  margin-bottom: 10px;
  font-weight: bold;
}
.enc2 p {
  font-weight: bolder;
  letter-spacing: 0.5px;
  color: gray;
}
.search {
  background-color: turquoise;
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search svg {
  width: 60%;
  height: 50%;
  font-weight: bold;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #ffffff;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
section {
  position: relative;
  background-color: rgb(233, 233, 233);
  padding: 15.5em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
section h1 {
  color: black;
  font-weight: bold;
  margin-bottom: 2em;
}
.list .spanas {
  display: flex;
  background-color: white;

  border-radius: 10px;
}
.spanas span {
  padding: 0.6em;
  background-color: rgb(255, 255, 255);
  color: rgb(180, 180, 180);
  align-self: center;
  text-align: center;
  border-radius: 10px;
  margin-right: 1em;
}
.list span .sel {
  padding: 0.6em 1em;
  background-color: turquoise;
  color: white;
  align-self: center;
  text-align: center;
  border-radius: 10px;
}
.g-contain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 0 auto;
}
.cards {
  background-color: white;
  padding: 1em;
  margin-right: 1em;
  margin-top: 2em;
  border-radius: 20px;
}
.adve {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.adve h4 {
  background-color: rgba(90, 82, 100, 0.514);
  color: grey;
  margin-right: 1em;
  padding: 0.3em 0.6em;
  border-radius: 13px;
}
.card h2 {
  margin: 15px 0;
}
.img-cont {
  width: 100%;
  height: 300px;
}
.cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 1em;
  background-color: rebeccapurple;
  border-radius: 13px;
}
.mny {
  display: flex;
  justify-content: space-between;
}
.mny button {
  background-color: rgba(64, 224, 208, 0.514);
  color: blue;
  padding: 0.5em 0.5em;
  border-radius: 15px;
  outline: none;
  border: none;
}
@media only screen and (max-width: 768px) {
   header nav ul{
       display: none;
   }
   .bodytext h1{
     font-size: 30px;
   }
   .sel-btn{
     display: none;
   }
   .g-contain {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
  }
  section{
    padding :1em;
  }
}